@import "tailwindcss";

/* body {
    background-image: url('./glassesImage/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
} */